@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RsvpForm</title>
</head>
<body>
    <div>
        <p>Your name: @Html.TextBoxFor(x => x.Name)</p>
        <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Your phone: @Html.TextBoxFor(x=> x.Phone)</p>
        <p>
            Will you attend?
            @Html.DropDownListFor(x => x.WillAttend, new[] {
                  new SelectListItem() {Text = "Yes, I'll be there", Value = bool.TrueString},
                  new SelectListItem() {Text = "No, I hate you", Value = bool.TrueString}
            }, "Choose an option")
        </p>
        <input type="submit" value="Submit RSVP" />
    </div>
</body>
</html>
