[Oo]bj/
[Bb]in/
[Tt]estResults/
Trash/
VelocityWeb/
Backup/
*.user
*.vspscc
*.vssscc
*.testsettings
deploy
deploy/*
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
*.cachefile

#OS junk files
[Tt]humbs.db
*.DS_Store